################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Loja.Data/DemoBancoMiniLoja.db
/Loja.Data/DemoBancoMiniLoja.db-shm
/Loja.Data/DemoBancoMiniLoja.db-wal
/.vs/